table {
    margin: 20px;
    border: 2px solid;
}

th {
    border-bottom: 1px solid;
    padding: 8px 12px;
}

td {
    border-bottom: 1px solid;
    padding: 8px 12px;
}

td:last-child {
    border-bottom: none;
}