body {
    margin: 0; /* For navigation doesn't have space to the device */
}

nav ul {
    list-style-type: none; /* For dots or other symbol is removed from list */
    margin: 0; /* For navigation doesn't have space to around the window */
    padding: 0; /* For ul doesn't have space to li */
    width: 15%;
    height: 100%; /* Integrates navigation */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    
    background-color: #f1f1f1;
}

nav ul li {
    border-bottom: 1px solid #555;
    text-align: center;
}

nav ul li a {
    display: block; /* For width work correctly */
    text-decoration: none; /* For underline of link is removed */
    padding: 8px 16px; /* Increas size of navigation item */
    
    color: #000;
}

nav ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.active {
    background-color: #04AA6D;
    color: white;
}