body {
    margin: 0; /* For navigation doesn't have space to the device */
}

nav ul {
    list-style-type: none; /* For dots or other symbol is removed from list */
    margin: 0; /* For navigation doesn't have space to around the window */
    padding: 0; /* For ul doesn't have space to li */
    overflow: auto; /* For show background color */
    
    background-color: #f1f1f1;
}

nav ul li {
    display: inline; /* For element set horizental */
    float: left; /* For Set element correctly */

    text-align: center;
}

nav ul li a {
    display: block; /* For width work correctly */
    text-decoration: none; /* For underline of link is removed */
    padding: 14px 16px; /* Increas size of navigation item */
    
    color: #000;
}

nav ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.active {
    background-color: #04AA6D;
    color: white;
}

li:last-child {
    float: right; /* Set Last element on right */
}